@font-face {
  font-family: title;
  src: url(./title.woff2);
}
@font-face {
  font-family: bb;
  src: url(./NBInternationalProBoo.woff2);
}
@font-face {
  font-family: play;
  src: url(./Rejouice-Headline.woff2);
}
@font-face {
  font-family: pp;
  src: url(./PPMori-Regular.otf);
}
@font-face {
  font-family: ap;
  src: url(./Apercu-Mono.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: white;
}

#main {
  overflow: hidden;
}

#page1 {
  min-height: 100vh;
  width: 100%;
  background-color: white;
  position: relative;
  z-index: 9;
  overflow-x: hidden;
}

#lipstick1 {
  width: 180px;
  height: 200px;
  position: absolute;
  top: 16vw;
  left: 10vw;
  rotate: 20deg;
}
#lipstick1 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#lipstick2 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#lipstick2 {
  width: 180px;
  height: 200px;
  position: absolute;
  top: 10vw;
  right: 10vw;
  rotate: -20deg;
  /* z-index: 99; */
}
#page1 h1 {
  font-size: 6.7vw;
  font-family: pp;
  font-weight: 300;
  margin-top: 12vw;
  margin-left: 4vw;
}

#page1 h2 {
  font-size: 6.7vw;
  font-family: pp;
  font-weight: 300;
  margin-left: 32vw;
}

#page1 video {
  width: 60%;
  height: 60%;
  position: relative;
  left: 50%;
  margin-top: 100px;
  transform: translate(-50%, 0);
}

#page2 {
  min-height: 100vh; 
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

#page2 h1 {
  font-size: 4vw;
  font-family: "PP Mori", sans-serif;
}

#page3, #page6 {
  height: 100vh;
  background-color: white;
  width: 100%;
}

#skincare{
  width: 100%;
  min-height: 700vh;
  background-color :white;
  /* opacity: 0.4; */
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 9999;
  padding: 70px;
  /* width: 0%; */
}

#skincare h1{
  font-family: title;
  font-size: 3vw;
  text-transform: capitalize;

}
#makeup1{
  width: 100%;
  min-height: 700vh;
  background-color :white;
  /* opacity: 0.4; */
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 9999;
  padding: 70px;
  /* width: 0%; */
}

#makeup1 h1{
  font-family: title;
  font-size: 3vw;
  text-transform: capitalize;

}


#lipstick1 i {
  color: palevioletred;
}
#lipstick2 i {
  color: orange;
}
#lip-spark {
  position: relative;
  position: absolute;
  top: -8px;
  left: 40px;
  transform: rotate(0deg);
}
#lip-spark i:nth-child(1) {
  position: absolute;
  top: 20px;
}
nav {
  width: 100%;
  /* background-color: blue; */
  height: 80px;
  position: absolute;
  z-index: 10;
  padding-top: 10px;
  /* border-bottom:1px solid #2F2F2F ; */
}
#img {
  width: 160px;
  height: 100px;
  /* background-color: red; */
}
#img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

nav h3{
font-family: pp;
transition: all ease 0.5s;
z-index: 1;
}
#div5:hover h3 {
  font-family: pp;
  transition: all ease 0.5s;
  z-index: 1;
  color: white;
 }
#div5{
  /* width: 100px; */
  padding: 2px;
  cursor: pointer;
  height: 21px;
  /* background-color: red; */
  overflow: hidden;
  position: relative;
  transition: all ease 0.3s;


}
#div5::after{
 content: " ";
 width: 0px;
 height: 24px;
 border-radius:2px;
 /* background-color: red; */
 position: absolute;
 top: 0%;
 left: 0%;
 transition: all ease 0.6s;
 z-index:-1;

}
#div5:hover:after{
  content: " ";
  width: 100px;
  border-radius:2px;
  height: 21px;
  background-color:#fe7b4b;
  position: absolute;
  top: 0%;
  left: 0%;

 }
 #div5:hover:after:nth-child(2)
 {
  background-color: palevioletred;
 }
 #div5:hover{
  transform: scale(1.2);
 }
#div5:hover h3 {
  transform: translateY(-101%);
}
nav i {
  font-family: bb;
  margin-right: 25px;
  font-size:1.6vw ;
}

#page3 {
   width: 100%;
  /* background-color: red; */
  height: 120vh;
}
#game {
  width: 7.5vw;
  height: 7.5vw;
  border-radius: 50%;
  position: fixed;
  background-color: palevioletred;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  /* margin-left: 50%; */
  opacity: 0;
  transform: translate(-50%, -50%);
  font-family: play;
}
#vedio {
  position: relative;
}
#page4 {
  position: relative;
  height: 100vh;
  margin-top: 12vh;
  /* background-color: red; */
  width: 100%;
  z-index: 5;
  padding-top: 40px;
  padding-left: 20px;
}
#img-part{
 /* background-color: red; */
 height: 100%;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-between;
 flex-direction: column;
 position: relative;
margin-top: 130px;

}
#img--part{
  display: flex;
  align-items: center;
  justify-content: space-between;
 gap: 10px;
 z-index: 3;
}


#img1{
  /* background-color: blue; */
  /* border: 1px solid black; */
  height: 750px;
  width: 750px;
  overflow: hidden;
  position: relative;
 

 }
 #img2{
  /* background-color: blue; */
  /* border: 1px solid black; */
  height: 750px;
  width: 750px;
  overflow: hidden;
  position: relative;


 }
 #img1 img{
  height: 100%;
  width: 100%;
  object-fit:cover;

}
 #img2 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
 }
  #img-text{
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:start;
  top: -6%;
  gap: 40%;
  margin-left: 30px;

 } 
  #img-text h1{
  font-size: 2vw;
  font-family: title ;
  color:#2F2F2F;
  text-transform: uppercase;
  
 }
#div
{
  width: 300px;
  height: 400px;
  /* background-color: red; */
  position: relative;
  position: absolute;
  z-index: 2;
  border: 10px solid white;
  top: 25%;
  left: 30%;
   transition: border 0.3s ease, border-radius 0.3s ease;
  
  
}
#div img{
   height: 100%;
   width: 100%;
   object-fit: cover;

}
#div:hover{
  border: 20px solid white;
  border-radius:20px ;
}


#overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1;
  opacity: 0;
  transition: opacity ease 0.5s;
}

#div button{
  position: absolute;
  top: 45%;
  background-color: white;
  left: 20%;
  transform: translate(-50%,-50%);
  padding: 10px ;
  font-family: title;
  color: #2F2F2F;
  font-size: 1.3vw;
  white-space: nowrap;
  border : 2px dashed #2F2F2F;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 700;
  transform: scale(0);
  transition:all ease 0.3s;
  cursor: pointer;
}
#div:hover button{
  transform: scale(1);
}
#div button:hover{
  background-color: bisque;
  transform: scale(1.2);
}


#gried{
  width: 100%;
  /* background-color: red; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#left-side-img{
  width: 50%;
  height: 100%;
  /* background-color: red; */
 
}
#right-side-img{
  width: 50%;
  height: 100%;
  /* background-color: blue; */
}
#gried #left-img{
  width: 60%;
  height: 100%;
  background-color: white;
  z-index: 0;
  margin:auto ;
  margin-top: 20px;
}
#gried #left-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}
#gried #right-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#gried #right-1 {
  width: 100%;
  height: 50%;
  /* background-color: blue; */
  position: relative; /* Ensure it is positioned */
  z-index: 2 !important;
}

#gried #right-2 {
  width: 100%;
  height: 50%;
  z-index: 1 !important;
  position: relative; /* Ensure it is positioned */
}

#gried #right-1 #right-img {
  width: 100%;
  height: 100%;
  background-color: white;
  margin-right: 20px;
  position: relative; /* Ensure it is positioned */
}

#gried #right-2 #right-img {
  width: 100%;
  height: 139%;
  background-color: white;
  margin-top: -100px;
  margin-left: -150px;
  position: relative; /* Ensure it is positioned */
}

#left-side-img #slide1 {
  width: 44%;
  height: 20%;
  background-color: white;
  z-index: 0;
  margin: auto;
  margin-top: 20px;
  position: absolute;

}

#right-1 #slide1 {
  width: 800px;
  height: 400px;
  background-color: white;
  z-index: 2;
  margin-top: -20px;
  margin: auto;
  position: absolute;
  /* border: 1px solid black; */
}

#right-2 #slide1 {
  width: 800px;
  height: 650px;
  margin-top: -20px;
  background-color: white;
  z-index: 2;
  /* border: 2px solid black; */
  position: absolute;
  left: -20%;
  /* margin-left: -22px; */
}


#left-side-img #slide2 {
  width: 40%;
  height: 16%;
  background-color: white;
  z-index: 1;
  margin: auto;
  margin-top: 20px;
  position: absolute;

  
  /* border: 1px solid #2F2F2F; */
}

#right-1 #slide2 {
  width: 800px;
  height: 140px;
  background-color: white;
  z-index: 2;
  /* margin-top: -20px; */
 left: -20%;
  margin: auto;
  position: absolute;
  /* border: 1px solid black; */
}
#right-2 #slide2 {
  width: 700px;
  height: 450px;
  margin-top: -20px;
  background-color: white;
  z-index: 2;
  /* border: 2px solid black; */
  position: absolute;
  margin-left: -22px;
  left: -10%;
}
#page5{
 width: 100%;
 background-color: white;
 height: 100vh;
 z-index: 9;
 display: flex;
 align-items: center;
 justify-content: center;
}
#gride{
  /* background-color: red; */
  width: 100%;
  width: 100%;
 /* z-index:1000000; */
 position: relative;
}
#image-track {
  display: flex;
  /* gap: 4vmin; */
  /* position: absolute; */
  user-select: none; /* -- Prevent image highlighting -- */
  margin-top: 70px;
  border-radius:20px ;
    box-shadow: 4px 4px 4px 4px #aaaaaa;
}
#image-track1{
  display: flex;
  /* gap: 4vmin; */
  /* position: absolute; */
  user-select: none; /* -- Prevent image highlighting -- */
  margin-top: 70px;
  border-radius:20px ;
    box-shadow: 4px 4px 4px 4px #aaaaaa;
}

#class img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  /* border-radius:20px ; */
}
#class{
    width: 320px;
  height: 400px;
 /* background-color: red; */
  border-radius:20px ;
  position: relative;
  overflow: hidden;
  border-top-right-radius:20px ;
  border-bottom-right-radius:20px ;
  
}
#image-track{
  width:320px;
  height: 400px;
  background-color: #F7F7F7;
  /* padding: 20px;
  padding-top:50px ; */
  display: flex;
  transition: all ease 0.3;

}
#image-track1{
  width:700px;
  height: 400px;
  background-color: #F7F7F7;
  /* padding: 20px;
  padding-top:50px ; */
  display: flex;
  transition: all ease 0.3;

}

#page4 h1{
    font-family: title;
    color: #2F2F2F;
    font-size: 3vw;
    margin-top: 40px;
}


#button #hello,#button #hi
{
  padding: 13px;
  font-size: 1.3vw;
  margin-top: 20px;
  border: none;
}
#button{
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:20px
}
#class img:nth-child(2){
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 0;
  transition: opacity ease 0.5s;
 
}
#class img:nth-child(2):hover{

  opacity: 1
}
#width{
  position: absolute;
  bottom: 3%;
  right: 3%;
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px dashed #2F2F2F;
  border-radius:20px ;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity ease 1s;
  cursor: pointer;
 
}
#width i:nth-child(2){
  position: absolute;
} 
#text{
width:370px;
height: 400px; ;
/* background-color: red; */
opacity: 0;
display: none;
padding: 30px;
}
#text1{
  width:370px;
  height: 400px; ;
  /* background-color: red; */
  opacity: 1;
  /* display: none; */
  padding: 30px;
  }
#body{
  font-family: title;
  font-size: 1.3vw;
  font-weight: 600;
  
}
#end
{
  width: 150px;
  height: 40px;
  background-color: white;
  border: 2px dashed #2F2F2F;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: title;
  margin-top: 40px;
  transition: all
  ease-in-out 0.3s;
  cursor: pointer;
 
}
#end:hover{
  transform: scale(1.3);
  background-color: beige;
}

#big-daday{
  display: flex;
  gap:30px;
  width: 400%;
}
#byside{
opacity: 0;
}

#circle{
  width: 55px;
  height: 55px;
  /* background-color: grey; */
  border-radius: 50px;
  border: 3px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: title;
  font-weight:100 ;
  cursor: pointer;
}
#left-footer{
 width: 60%;
 height: 100%;
 /* background-color: red; */
}
#right-footer{
  width: 50%;
  height: 100%;
  /* background-color: black; */
 }

